<plist version="3.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://it-bak.oss-cn-hangzhou.aliyuncs.com/%E6%94%B6%E9%93%B6%E5%89%8D%E5%8F%B0v0.3.26%28%E6%AD%A3%E5%BC%8F%E7%8E%AF%E5%A2%83%29.ipa?Expires=1704430611&OSSAccessKeyId=TMP.3KjV4wh8PNkvb3SBA3DkRmPhZPkTQ8GjtHnCv5ZX7qM6T5bbd4t92hpWVutQ6ZCnBQpK5GneWPcq1Lh5DJgGHgsZ4ehSbU&Signature=Xu5OrepI4IW0uCT%2FHv6D8rQRHrE%3D</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>needs-shine</key>
<false/>
<key>url</key>
<string>https://it-bak.oss-cn-hangzhou.aliyuncs.com/WechatIMG917.jpg?Expires=1704431049&OSSAccessKeyId=TMP.3KjV4wh8PNkvb3SBA3DkRmPhZPkTQ8GjtHnCv5ZX7qM6T5bbd4t92hpWVutQ6ZCnBQpK5GneWPcq1Lh5DJgGHgsZ4ehSbU&Signature=GdrZL5IrgLotV%2BKZbkGyj0dnCdk%3D</string>
</dict>
<dict>
<key>kind</key>
<string>full-size-image</string>
<key>needs-shine</key>
<false/>
<key>url</key>
<string>https://it-bak.oss-cn-hangzhou.aliyuncs.com/WechatIMG917.jpg?Expires=1704431049&OSSAccessKeyId=TMP.3KjV4wh8PNkvb3SBA3DkRmPhZPkTQ8GjtHnCv5ZX7qM6T5bbd4t92hpWVutQ6ZCnBQpK5GneWPcq1Lh5DJgGHgsZ4ehSbU&Signature=GdrZL5IrgLotV%2BKZbkGyj0dnCdk%3D</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.wenshaWindsor</string>
<key>bundle-version</key>
<string>0.3.26</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>jxl中台</string>
</dict>
</dict>
</array>
</dict>
</plist>